<article class="">
    <div class="">
    <a href="" target="_blank">{{title}}</a>
    </div>
    <div class="">
    Posted by {{user.username}} on
    {{post_date}}
    |
    <a href="/post/{{id}}">{{comment_count}} comment(s)</a>
    </div>
</article>

