<div>Homepage Test</div>

<ol class="">
  {{#each posts}}
    <li>
      <article class="">
        <div class="">
          <a href="" target="_blank">{{title}}</a>
          <span>({{post_data}})</span>
        </div>
        <div class="">
        by {{user.username}}
        {{post_date}}
          |
          <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
        </div>
      </article>
    </li>
    {{/each}}
  </ol>